@import url('./utilities.css');
/* @font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/Rajdhani-Regular.ttf'),
    url('../fonts/Rajdhani-Light.ttf');
    font-weight: normal;
} */
@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/Rajdhani-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/Rajdhani-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/Rajdhani-Medium.ttf');
    font-weight: 500;
}
body{
	font-family: 'Rajdhani';
	margin: 0;
}
button,
textarea,
input,
select,
a{
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 -webkit-tap-highlight-color: transparent;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
  user-select: none;

}
.header{
    background-image: url("../assets/images/header_bg.png");
    padding: 3rem 1rem 1.5rem 1rem;
    background-repeat: no-repeat;
    background-size: 100%;
}
.header__head {
    color: #fff;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.9rem;
    margin-top: 1rem;
}
.header__logo {
    width: 63%;
}
.btn {
    background-image: url("../assets/images/Button.png");
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
    font-size: 1rem;
    padding: 1.1rem 0.9rem;
    font-weight: 500;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.getapp{
    display: flex;
    gap: 1rem;
    justify-content: center;
    background: linear-gradient(to top, rgba(120, 0, 1, 0.95) 10%, rgba(255, 255, 255, 0.13) 60%), url("../assets/images/bg.png");
    background-size: 100%;
    padding-top: 12.5rem;
    padding-bottom: 2rem;
    background-repeat: no-repeat;
}
.getapp__img {
    width: 1.1rem;
    margin-left: 0.6rem;
}
.howtoplay {
    background-color: #f6f7f7;
    padding: 2rem 1rem 1rem 1rem;
}
.howtoplay__head{
    color: #5c7785;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0rem;
}
.box--shadow{
    box-shadow: 0px 5px 5px rgba(255,255,255,0.3);
}
.howtoplay__box {
    background-color: #f2f3f4;
    border: 0.6rem solid #fff;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0rem 1rem 1rem rgba(0,0,0,0.1);
}
.howtoplay__subhead {
    color: #5c7785;
    margin: 0rem;
    font-size: 0.8rem;
}
.flex-3{
    flex: 3;
}
.flex-7{
    flex: 7;
}
.margin-top {
    margin-top: 1.5rem;
}
.howtoplay__noimg {
    width: 3.5rem;
    position: absolute;
    top: -1.1rem;
}
.howtoplay__img {
    width: 100%;
    height: 100%;
}
.howtoplay__span {
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
    left: 1.5rem;
    font-weight: 600;
    top: -1.2rem;
}
.pos--relative {
    position: relative;
}
.video {
    background-color: #b00;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.color--white {
    color: #fff;
}
.video__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}
.video__social__btn {
    background-image: url("../assets/images/App_Box.png");
    justify-content: center;
    display: flex;
    align-items: center;
    /* background-size: 81% 84%; */
    background-size: 4rem 4rem;
    height: 76px;
    background-repeat: no-repeat;
    background-position: center;
}
.social__icon {
    width: 40%;
    padding-bottom: 0.5rem;
}
.video__img {
    width: 30%;
    margin-bottom: 6rem;
    margin-top: 3rem;
}
.videos {
    margin-bottom: 2rem;
    width: 80%;
    border-radius: 10px;
}
.terms {
    background-color: #f6f7f7;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.terms__link {
    color: #e62c2c;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 1.5rem;
}
.margin--bottom{
    margin-bottom: 0rem;
}
.copyright-container{
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    flex-direction: row; 
    margin-top: 5rem;
}
.copyright {
    background-color: #b00;
    color: #fff;
    padding: 1rem;
    margin-bottom: 6.5rem;
}
.copyright__text{
    font-size: 1rem;
    font-weight: 500;
    margin: 0rem;
    list-style: none;
    list-style-type: decimal;
}
.copyright__link {
    color: #fff;
    text-align: center;
    display: block;
    font-size: 0.75rem;
    font-weight: 700;
    margin: 0;
}
.copyright-stymbol{
    font-family: 'Courier New', Courier, monospace;
}
.footer {
    display: flex;
    justify-content: center;
}
.footer__btn {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem 3rem;
    background-image: url("../assets/images/Button_Big.png");
    position: fixed;
    bottom: 1.5rem;
    line-height: 1rem;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    /* transition: opacity 500ms; */
    visibility: hidden;
    opacity: 0;
    overflow: hidden !important;
  }
.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}
/* .lock-scroll {
    overflow: hidden;
}
.unlock-scroll {
    overflow: auto; */
/* } */
.full {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: auto;
}
.popup {
    margin: 2rem auto;
    padding: 0rem 1rem;
    background: #fff;
    border-radius: 0.9rem;
    width: 82%;
    position: relative;
    height: 100%;
    overflow: scroll;
    /* transition: all 2s ease-in-out; */
}
.popup .close {
    position: fixed;
    top: 2.5rem;
    right: 2rem;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background-color: #e62c2c;
    border-radius: 50%;
    width: 2rem;
    text-align: center;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0rem 1rem 1rem rgba(0,0,0,0.1);
}
.popup .content {
    color: #69869b;
    overflow: auto;
    font-size: 0.9rem;
    font-weight: 600;
    padding-bottom: 3.5rem;
}
.popup__heading {
    font-size: 1rem;
}
.popup__head {
    text-align: center;
    color: #69869b;
    font-size: 1.2rem;
    box-shadow: 0rem 1rem 1rem rgba(0,0,0,0.1);
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    padding: 1rem 0rem;
    margin: 0 3rem 1.9rem 3rem;
}
.popup__contents {
    padding-left: 0.7rem;
}
.popup__contents li {
    margin-bottom: 0.5rem;
}
.underline{
    border-bottom: 0.1rem solid #69869b;
}
.text-underline {
    text-decoration: underline;
}
@media (min-width: 992px) {
.btn {
    font-size: 2rem;
    padding: 2rem 2rem;
}
.btn {
    padding: 2rem 2rem;
}
.footer__btn {
    width: auto;
    font-size: 2.5rem;
    padding: 4rem 16rem;
}
.copyright {
    margin-bottom: 13rem;
}
.copyright__link {
    font-size: 1.5rem;
}
.margin-top {
    margin-top: 3.9rem;
}
.howtoplay__noimg {
    width: 7rem;
}
.howtoplay__span {
    font-size: 2.5rem;
    left: 3rem;
    top: -1rem;
}
.copyright__text {
    font-size: 1.9rem;
}
.getapp__img {
    width: 2rem;
    margin-left: 0.9rem;
}
.howtoplay__subhead {
    font-size: 1.5rem;
}
.header {
    padding: 5rem 18rem 4.5rem 18rem;
}
.header__head {
    font-size: 2.8rem;
    line-height: 2.9rem;
    margin-top: 3rem;
}
.howtoplay__subhead {
    font-size: 2rem;
}
.getapp {
    padding-top: 39rem;
}
.padding-left0 {
    padding-left: 3rem;
  }
}
@media (max-width: 834px) {
/* .header__logo {
    width: 39%;
} */
.getapp {
    padding-top: 24rem;
}
}
@media (max-width: 428px) {
.getapp {
    padding-top: 12.5rem;
}
.header__logo {
    width: 63%;
}
}
@media (max-width: 335px) {
.header__head {
    font-size: 1rem;
    line-height: 1.4rem;
}
.btn {
    font-size: 0.9rem;
}
.footer__btn{
    font-size: 1.4rem;
    line-height: 0.9rem;
    bottom: 1rem;
}
.howtoplay__head {
    font-size: 1.3rem;
}
.terms__link {
    font-size: 1rem;
}
.copyright__text {
    font-size: 0.8rem;
}
.copyright__link {
    font-size: 0.6rem;
}
.copyright {
    margin-bottom: 5.5rem;
}
.popup .content {
    font-size: 0.8rem;
}
.popup__head {
    font-size: 1.1rem;
    padding: 0.6rem 0rem;
}
.popup .close {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    top: 0.5rem;
}
.getapp {
    padding-top: 9.7rem;
}
}
